body{
    background-image: url(./assets/img/images.jpeg);
    
    
}

.a{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

}
#freezer{
    display: flex;
    justify-content: center;
    font-size: 20px;
    background-image: linear-gradient( 111.4deg,  rgba(238,113,113,1) 1%, rgba(246,215,148,1) 58% );
    width: 30%; 
    margin: auto;
    box-shadow:
        3.7px 3.1px 5.3px -9px rgba(0, 0, 0, 0.096),
        12.7px 10.6px 10.1px -9px rgba(0, 0, 0, 0.106),
        44.7px 37.3px 14.5px -9px rgba(0, 0, 0, 0.117),
        142.4px 118.8px 18.3px -9px rgba(0, 0, 0, 0.136),
        156.4px 130.5px 21.6px -9px rgba(0, 0, 0, 0.164),
        163px 136px 40px -9px rgba(0, 0, 0, 0.2);
    
    
}
.b{
    padding-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#helados{
    background-color: aqua;
    border-radius: 10%; /* Radio de las esquinas */
    padding: 8px; /* Espaciado interno para un aspecto más agradable */
    border: 1px solid #BB9CC0;
}

#helados:hover{
    background-color: #ee7777; 
    border: 1px solid #C392EF;    
    color: yellow;

}

#agregar{
    border-radius: 10%;
    height: 40px;
    margin-left: 7px;
    background-image: linear-gradient(to right bottom, #a4193d, #bf554c, #d68566, #eab28b, #ffdfb9);    
}
#agregar:hover{
    background-color: #843455;
    animation: pulse 0.5s ease infinite;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

h1{
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: #A94C76;
    color: #fff;
    font-family: 'Arial', sans-serif; /* Cambia la fuente según tus preferencias */
    font-size: 24px; /* Ajusta el tamaño de la fuente según tus preferencias */
    letter-spacing: 2px; /* Ajusta el espaciado entre letras según tus preferencias */
    text-transform: uppercase; /* Convierte el texto a mayúsculas */
    margin: 0; /* Elimina el margen predeterminado del h1 */
    border-radius: 5px; /* Añade esquinas redondeadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
    
}
.h1-swing-in-top-fwd {
    -webkit-animation: swing-in-top-fwd 2s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
            animation: swing-in-top-fwd 2s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

@-webkit-keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
                transform: rotateX(-100deg);
        -webkit-transform-origin: top;
                transform-origin: top;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0deg);
                transform: rotateX(0deg);
        -webkit-transform-origin: top;
                transform-origin: top;
        opacity: 1;
    }
}

@keyframes swing-in-top-fwd {
    0% {
        -webkit-transform: rotateX(-100deg);
                transform: rotateX(-100deg);
        -webkit-transform-origin: top;
                transform-origin: top;
        opacity: 0;
    }
    100% {
        -webkit-transform: rotateX(0deg);
                transform: rotateX(0deg);
        -webkit-transform-origin: top;
                transform-origin: top;
        opacity: 1;
    }
}
#inputEliminar{
    background-color: rgba(196, 62, 217, 0.724); /* Color del texto */
    border-radius: 10%; /* Radio de las esquinas */
    padding: 8px; /* Espaciado interno para un aspecto más agradable */
    border: 1px solid #BB9CC0; /* Borde del input */
    
}

#botonEliminar{
background: linear-gradient(45deg, #222, #333); 
    color: #FFD700; 
    border-radius: 10px; 
    height: 40px; 
    padding: 8px 16px; 
    border: none; 
    cursor: pointer; 
    margin-left: 7px;
}

#botonEliminar:hover {
    transition: transform 0.3s ease-in-out;
    transform: scale(1.1) rotate(3deg);
    background-color: #a4193d;
}


